<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grupo1.sw2.ulima.foodtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserRegistroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContenedorActivity"
            android:label="@string/title_activity_contenedor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="FoodTracker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeleccionarGustosActivity"
            android:label="@string/title_activity_seleccionar_gustos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserPerfilActivity"
            android:label="@string/title_activity_user_perfil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FoodtruckPerfilActivity"
            android:label="@string/title_activity_foodtruck_perfil"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MostrarFoodtruckActivity"
            android:label="@string/title_activity_mostrar_foodtruck"
            android:theme="@style/AppTheme" />
        <activity android:name=".ObtenerRutaActivity" />
        <activity
            android:name=".VerMenuActivity"
            android:label="@string/title_activity_ver_menu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ConfigurarPerfilActivity"
            android:label="@string/title_activity_configurar_perfil"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginFoodtruckActivity"></activity>
    </application>

</manifest>
